<footer class="footer">	
<div id="footerWrap" class="">	
	<div id="footerDiv" class=" container-fixed clear-top">
		<div class="panel panel-default">
			<div class="container">
				<div class="panel-heading panel-footer-info">
					<h5>	Designed and built by Varun Narayanan, Wilson Jusuf &amp; Hanif Lim </h5>
				</div>
			</div>
		</div>
	</div>
</div>
</footer>
</html>