.alert {
    visibility: hidden;
    text-align: center;
    display: none;
}

h1 {
    margin-bottom: 2%;
}

.btn-default {
    margin-left: 1%;
}

hr {
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.playersStyle {
    font-size: 1.4em;
}

#labelPlayer {
    font-size: 1.6em;
}

#RS {
    visibility: hidden;
    margin-top: -4%;
    align-content: center;
}


.playerScoreAnimation {
    background-color: #fff !important;
    -webkit-animation: your-animation-name 0.4s ease 0s 1 alternate !important;
}



@-webkit-keyframes your-animation-name {
    from { background-color: #5EB4FE;}
    to {background-color: #fff;}
}
-moz-animation: your-animation-name 0.4s ease 0s 1 alternate !important;
}
@-moz-keyframes your-animation-name {
    from { background-color: #5EB4FE;}
    to {background-color: #fff;}
}
-ms-animation: your-animation-name 0.4s ease 0s 1 alternate !important;
}
@-ms-keyframes your-animation-name {
    from { background-color: #5EB4FE;}
    to {background-color: #fff;}
}
-o-animation: your-animation-name 0.4s ease 0s 1 alternate !important;
}
@-o-keyframes your-animation-name {
    from { background-color: #5EB4FE;}
    to {background-color: #fff;}
}
animation: your-animation-name 0.4s ease 0s 1 alternate !important;
}
@keyframes your-animation-name {
    from { background-color: #5EB4FE;}
    to {background-color: #fff;}
}


.playerDeductScoreAnimation {
    background-color: #fff !important;
    -webkit-animation: your-animation-name2 0.4s ease 0s 1 alternate !important;
}

@-webkit-keyframes your-animation-name2 {
    from { background-color: #BD2329;}
    to {background-color: #fff;}
}
-moz-animation: your-animation-name2 0.4s ease 0s 1 alternate !important;
}
@-moz-keyframes your-animation-name2 {
    from { background-color: #BD2329;}
    to {background-color: #fff;}
}
-ms-animation: your-animation-name2 0.4s ease 0s 1 alternate !important;
}
@-ms-keyframes your-animation-name2 {
    from { background-color: #BD2329;}
    to {background-color: #fff;}
}
-o-animation: your-animation-name2 0.4s ease 0s 1 alternate !important;
}
@-o-keyframes your-animation-name {
    from { background-color: #BD2329;}
    to {background-color: #fff;}
}
animation: your-animation-name2 0.4s ease 0s 1 alternate !important;
}
@keyframes your-animation-name2 {
    from { background-color: #BD2329;}
    to {background-color: #fff;}
}
